<div class="container">
  <form [formGroup]="formGroup">
    <div>
      <label>E-mail:</label>
      <input type="email" class="item" formControlName="email" required>
    </div>
    <div>
      <label>Password: </label>
      <input type="password" class="item item1" formControlName="password" required>
    </div>
    <div>
      <label>Confirm Password: </label>
      <input type="password" class="item" formControlName="confirmPassword" required>
    </div>
    <div>
      <label>Nickname: </label>
      <input type="text" class="item" formControlName="Nickname" required>
    </div>
    <div>
      <label>Phone Number: </label>
      <input type="tel" class="item" formControlName="phoneNumber" required>
    </div>
    <div>
      <label>Salary: </label>
      <input type="number" class="item" formControlName="salary" required>
    </div>
    <div>
      <label>Website: </label>
      <input class="item" formControlName="website" required>
    </div>
    <div>
      <input type="checkbox" class="box" formControlName="checkbox" required>
      <span >I have read the <a href="#"> agreement</a></span>
    </div>
    <button [disabled]="formGroup.invalid" (click)="updateUser()">Update</button>
  </form>

  <div class="users-container">
    <div class="person" *ngFor="let item of itemInArr; index as i">
      <h1>Data of User</h1>
      <div>
        <span>Gmail:</span>{{item.email}}
      </div>
      <div>
        <span>password:</span> {{item.confirmPassword}}
      </div>
      <div>
        <span>Nickname:</span> {{item.Nickname}}
      </div>
      <div>
        <span>phone:</span> {{item.phoneNumber}}
      </div>
      <div>
        <span>salary:</span> {{item.salary}}₾
      </div>
      <div>
        <span>website:</span> {{item.website}}
      </div>
      <div class="btn-container">
        <button (click)="updateForm(item)" class="edit" *ngIf="loggedUserID === item.id.toString()">Edit</button>
        <button (click)="delete(item.id)" class="edit1" *ngIf="loggedUserID === item.id.toString()">Delete </button>
      </div>
    </div>
  </div>
</div>
