<div class="container">
  <form [formGroup]="formGroup">
    <div>
      <label>E-mail:</label>
      <input type="email" class="item" formControlName="email" required>
    </div>
    <div>
      <label>Password: </label>
      <input type="password" class="item item1" formControlName="password" required>
    </div>
    <div>
      <label>Confirm Password: </label>
      <input type="password" class="item" formControlName="confirmPassword" required>
    </div>
    <div>
      <label>Nickname: </label>
      <input type="text" class="item" formControlName="Nickname" required>
    </div>
    <div>
      <label>Phone Number: </label>
      <input type="tel" class="item" formControlName="phoneNumber" required>
    </div>
    <div>
      <label>Salary: </label>
      <input type="number" class="item" formControlName="salary" required>
    </div>
    <div>
      <label>Website: </label>
      <input class="item" formControlName="website" required>
    </div>
    <div>
      <input type="checkbox" class="box" formControlName="checkbox" required>
      <span >I have read the <a href="#"> agreement</a></span>
    </div>
    <button [disabled]="formGroup.invalid" (click)="updateUser()">Update</button>
  </form>

  <div class="users-container">
    <div class="person" *ngFor="let item of itemInArr; index as i">
      <h1>Data of User</h1>
      <div>
        <p>Gmail: {{item.email}}</p>
      </div>
      <div>
        <p>password: {{item.confirmPassword}}</p>
      </div>
      <div>
        <p>Nickname: {{item.Nickname}}</p>
      </div>
      <div>
        <p>phone: {{item.phoneNumber}}</p>
      </div>
      <div>
        <p>salary: {{item.salary}}</p>
      </div>
      <div>
        <p>website: {{item.website}}</p>
      </div>
      <div class="btn-container" *ngIf="loggedUserID === item.id.toString()">
        <button (click)="updateForm(item)" class="edit">Edit</button>
        <button (click)="delete(item.id)" class="edit1">Delete </button>
      </div>
    </div>
  </div>
</div>
