<form class="register-form" [formGroup]="registerFormGroup">
    <div>
        <label><span class="required-red">*</span>E-mail</label>
        <input class="form-inputs" type="email" formControlName='email'>
    </div>
    <div>
        <label><span class="required-red">*</span>Password</label>
        <input class="form-inputs" type="password" formControlName="password">
    </div>
    <div>
        <label><span class="required-red">*</span>Confirm Password</label>
        <input class="form-inputs" type="password" formControlName="confirmPass">
    </div>
    <div>
        <label><span class="required-red">*</span>Nickname</label>
        <input class="form-inputs" type="text" formControlName="nickname">
    </div>
    <div>
        <label><span class="required-red">*</span>Phone Number</label>
        <input class="form-inputs" type="tel" formControlName="phoneNumber">
    </div>
    <div>
        <label><span class="required-red">*</span>Website</label>
        <input class="form-inputs" type="text" formControlName="website">
    </div>
    <div>
        <input type="checkbox" formControlName="agree"><label>I have read <a href="#">agreement</a></label>
    </div>
    <ng-container *ngIf="updateBtn">
      <button class="update-btn" [disabled]="registerFormGroup.invalid"  (click)="updateData()">Update</button>
    </ng-container>
    <ng-container *ngIf="!updateBtn">
      <button class="submit-btn" [disabled]="registerFormGroup.invalid"  (click)="register()">Register</button>
    </ng-container>



</form>

<div class="userWrapper">
  <ng-container *ngFor="let item of userData; index as i">
    <div class="user-data">
      <div class="user-btns">
        <button class="delete-btn" (click)="deleteData(i)">Delete</button>
        <button class="edit-btn" (click)="updateForm(i)">Edit</button>
      </div>
      <p>{{item.email}}</p>
      <p>{{item.password}}</p>
      <p>{{item.confirmPass}}</p>
      <p>{{item.nickname}}</p>
      <p>{{item.phoneNumber}}</p>
      <p>{{item.website}}</p>
    </div>
  </ng-container>
</div>

